.accordion{
    height: 168px;
    border-top: 2px solid black;
    width: 768px;
    
}


.close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.close button{
    background-color: transparent;
    border: none;
}
p {
    height: 72px;
    font-size: 16px;

}